In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import re

In [9]:
data_file = '/content/drive/MyDrive/ColabNotebooks/homework/data/coronavirus_tweets.csv'
data = read_csv_3(data_file)

In [ ]:
data.head(5)

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative

In [ ]:
data['OriginalTweet'] = data['OriginalTweet'].apply(lambda x : re.sub('[^a-zA-Z]', ' ', x))
data

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,MeNyrbie Phil Gahan Chrisitv https t co i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,Me ready to go at supermarket during the COV...,Extremely Negative
...,...,...,...,...,...,...
41152,44951,89903,"Wellington City, New Zealand",14-04-2020,Airline pilots offering to stock supermarket s...,Neutral
41153,44952,89904,NaN,14-04-2020,Response to complaint not provided citing COVI...,Extremely Negative
41154,44953,89905,NaN,14-04-2020,You know it s getting tough when KameronWild...,Positive
41155,44954,89906,NaN,14-04-2020,Is it wrong that the smell of hand sanitizer i...,Neutral
41156,44955,89907,i love you so much || he/him,14-04-2020,TartiiCat Well new used Rift S are going for ...,Negative

### 一

In [ ]:
# Return a pandas dataframe containing the data set.
# Specify a 'latin-1' encoding when reading the data.
# data_file will be populated with the string 'wholesale_customers.csv'.
def read_csv_3(data_file):
  data=pd.read_csv(data_file, encoding='latin-1')
  return data

In [12]:
data = read_csv_3(data_file)

### 二

In [ ]:
# Return a list with the possible sentiments that a tweet might have.
def get_sentiments(df):
	return list(df.loc[:,'Sentiment'].unique()) #convert result to list

In [ ]:
get_sentiments(data)

['Neutral', 'Positive', 'Extremely Negative', 'Negative', 'Extremely Positive']

### 三

In [ ]:
# Return a string containing the second most popular sentiment among the tweets.
def second_most_popular_sentiment(df):
	return df['Sentiment'].value_counts().index[1]

In [ ]:
second_most_popular_sentiment(data)

'Negative'

### 四

In [ ]:
# Return the date (string as it appears in the data) with the greatest number of extremely positive tweets.
def date_most_popular_tweets(df):
  # first we select Sentiment,then count TweetAt, finally choose the date with the greatest number
	return df[df['Sentiment']=='Extremely Positive']['TweetAt'].value_counts().index[0]

In [ ]:
date_most_popular_tweets(data)

'25-03-2020'

### 五

In [11]:
# Modify the dataframe df by converting all tweets to lower case. 
def lower_case(df):
  df['OriginalTweet'] = df['OriginalTweet'].str.lower()
  return df

In [13]:
data = lower_case(data)
data.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@menyrbie @phil_gahan @chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,coronavirus australia: woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,my food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"me, ready to go at supermarket during the #cov...",Extremely Negative

### 六

In [7]:
# Modify the dataframe df by replacing each characters which is not alphabetic or whitespace with a whitespace.
def remove_non_alphabetic_chars(df):
  df['OriginalTweet'] = df['OriginalTweet'].apply(lambda x : re.sub('[^a-zA-Z]', ' ', x))
  return df

In [14]:
data = remove_non_alphabetic_chars(data)
data

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,menyrbie phil gahan chrisitv https t co i...,Neutral
1,3800,48752,UK,16-03-2020,advice talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,coronavirus australia woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,my food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,me ready to go at supermarket during the cov...,Extremely Negative
...,...,...,...,...,...,...
41152,44951,89903,"Wellington City, New Zealand",14-04-2020,airline pilots offering to stock supermarket s...,Neutral
41153,44952,89904,NaN,14-04-2020,response to complaint not provided citing covi...,Extremely Negative
41154,44953,89905,NaN,14-04-2020,you know it s getting tough when kameronwild...,Positive
41155,44954,89906,NaN,14-04-2020,is it wrong that the smell of hand sanitizer i...,Neutral
41156,44955,89907,i love you so much || he/him,14-04-2020,tartiicat well new used rift s are going for ...,Negative

### 七

In [ ]:
# Modify the dataframe df with tweets after removing characters which are not alphabetic or whitespaces.
def remove_multiple_consecutive_whitespaces(df):
  df['OriginalTweet'] = df['OriginalTweet'].apply(lambda x : ' '.join(x.split()))
  return df

In [ ]:
data = remove_multiple_consecutive_whitespaces(data)
data

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,menyrbie phil gahan chrisitv https t co ifz fa...,Neutral
1,3800,48752,UK,16-03-2020,advice talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,coronavirus australia woolworths to give elder...,Positive
3,3802,48754,NaN,16-03-2020,my food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,me ready to go at supermarket during the covid...,Extremely Negative
...,...,...,...,...,...,...
41152,44951,89903,"Wellington City, New Zealand",14-04-2020,airline pilots offering to stock supermarket s...,Neutral
41153,44952,89904,NaN,14-04-2020,response to complaint not provided citing covi...,Extremely Negative
41154,44953,89905,NaN,14-04-2020,you know it s getting tough when kameronwilds ...,Positive
41155,44954,89906,NaN,14-04-2020,is it wrong that the smell of hand sanitizer i...,Neutral
41156,44955,89907,i love you so much || he/him,14-04-2020,tartiicat well new used rift s are going for o...,Negative

### 八

In [ ]:
# Given a dataframe where each tweet is one string with words separated by single whitespaces,
# tokenize every tweet by converting it into a list of words (strings).
def tokenize(df):
  df['OriginalTweet'] = df['OriginalTweet'].apply(lambda x : x.split())
  return df

In [ ]:
data = tokenize(data)
data

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,"[menyrbie, phil, gahan, chrisitv, https, t, co...",Neutral
1,3800,48752,UK,16-03-2020,"[advice, talk, to, your, neighbours, family, t...",Positive
2,3801,48753,Vagabonds,16-03-2020,"[coronavirus, australia, woolworths, to, give,...",Positive
3,3802,48754,NaN,16-03-2020,"[my, food, stock, is, not, the, only, one, whi...",Positive
4,3803,48755,NaN,16-03-2020,"[me, ready, to, go, at, supermarket, during, t...",Extremely Negative
...,...,...,...,...,...,...
41152,44951,89903,"Wellington City, New Zealand",14-04-2020,"[airline, pilots, offering, to, stock, superma...",Neutral
41153,44952,89904,NaN,14-04-2020,"[response, to, complaint, not, provided, citin...",Extremely Negative
41154,44953,89905,NaN,14-04-2020,"[you, know, it, s, getting, tough, when, kamer...",Positive
41155,44954,89906,NaN,14-04-2020,"[is, it, wrong, that, the, smell, of, hand, sa...",Neutral
41156,44955,89907,i love you so much || he/him,14-04-2020,"[tartiicat, well, new, used, rift, s, are, goi...",Negative

### 九

In [ ]:
# Given dataframe tdf with the tweets tokenized, return the number of words in all tweets including repetitions.
def count_words_with_repetitions(tdf):
  count = 0
  for i in range(len(tdf)):
    count += len(tdf['OriginalTweet'][i])
  return count

In [ ]:
count_words_with_repetitions(data)

1350959

### 十

In [ ]:
# Given dataframe tdf with the tweets tokenized, return the number of distinct words in all tweets.
def count_words_without_repetitions(tdf):
  res = []
  for i in range(len(tdf)):
    res.extend(tdf['OriginalTweet'][i])
  return len(set(res)) #use set remove repeted words

In [ ]:
count_words_without_repetitions(data)

80071

### 十一

In [ ]:
# Given dataframe tdf with the tweets tokenized, return a list with the k distinct words that are most frequent in the tweets.
def frequent_words(tdf,k):
  words = []
  for i in range(len(tdf)):
    words.extend(tdf['OriginalTweet'][i])
  words_dic = {}
  for word in words:
    if word not in words_dic:
      words_dic[word] = 1
    else:
      words_dic[word] = words_dic[word] + 1
  res = sorted(words_dic.items(),key=lambda x:x[1],reverse=True)
  return [word[0] for word in res[:k]]

In [ ]:
frequent_words(data,10)

['the', 'to', 't', 'co', 'and', 'https', 'covid', 'of', 'a', 'in']

### 十二

In [ ]:
# Given dataframe tdf with the tweets tokenized, remove stop words and words with <=2 characters from each tweet.
# The function should download the list of stop words via:
# https://raw.githubusercontent.com/fozziethebeat/S-Space/master/data/english-stop-words-large.txt
def remove_stop_words(tdf):
  import requests
  r = requests.get('https://raw.githubusercontent.com/fozziethebeat/S-Space/master/data/english-stop-words-large.txt')
  stop_words = r.text.split('\n')
  for i in range(len(tdf)):
    res = []
    for word in tdf['OriginalTweet'][i]:
      if word not in stop_words and len(word)>2:
        res.append(word)
    tdf['OriginalTweet'][i] = res[:]
  return tdf

In [ ]:
data1 = remove_stop_words(data)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

### 十三

In [ ]:
# Given dataframe tdf with the tweets tokenized, reduce each word in every tweet to its stem.
def stemming(tdf):
  from nltk.stem.porter import PorterStemmer
  ps = PorterStemmer()
  for i in range(len(tdf)):
    res = []
    for word in tdf['OriginalTweet'][i]:
      res.append(ps.stem(word))
    tdf['OriginalTweet'][i] = res[:]
  return tdf

In [ ]:
data1

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,"[menyrbi, phil, gahan, chrisitv, http, ifz, fa...",Neutral
1,3800,48752,UK,16-03-2020,"[advic, talk, neighbour, famili, exchang, phon...",Positive
2,3801,48753,Vagabonds,16-03-2020,"[coronaviru, australia, woolworth, give, elder...",Positive
3,3802,48754,NaN,16-03-2020,"[food, stock, empti, don, panic, food, stay, c...",Positive
4,3803,48755,NaN,16-03-2020,"[readi, supermarket, covid, outbreak, paranoid...",Extremely Negative
...,...,...,...,...,...,...
41152,44951,89903,"Wellington City, New Zealand",14-04-2020,"[airlin, pilot, offer, stock, supermarket, she...",Neutral
41153,44952,89904,NaN,14-04-2020,"[respons, complaint, provid, cite, covid, rela...",Extremely Negative
41154,44953,89905,NaN,14-04-2020,"[tough, kameronwild, ration, toilet, paper, co...",Positive
41155,44954,89906,NaN,14-04-2020,"[wrong, smell, hand, sanit, start, turn, coron...",Neutral
41156,44955,89907,i love you so much || he/him,14-04-2020,"[tartiicat, rift, amazon, normal, market, pric...",Negative

In [ ]:
stemming(data1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,"[menyrbi, phil, gahan, chrisitv, http, ifz, fa...",Neutral
1,3800,48752,UK,16-03-2020,"[advic, talk, neighbour, famili, exchang, phon...",Positive
2,3801,48753,Vagabonds,16-03-2020,"[coronaviru, australia, woolworth, give, elder...",Positive
3,3802,48754,NaN,16-03-2020,"[food, stock, empti, don, panic, food, stay, c...",Positive
4,3803,48755,NaN,16-03-2020,"[readi, supermarket, covid, outbreak, paranoid...",Extremely Negative
...,...,...,...,...,...,...
41152,44951,89903,"Wellington City, New Zealand",14-04-2020,"[airlin, pilot, offer, stock, supermarket, she...",Neutral
41153,44952,89904,NaN,14-04-2020,"[respons, complaint, provid, cite, covid, rela...",Extremely Negative
41154,44953,89905,NaN,14-04-2020,"[tough, kameronwild, ration, toilet, paper, co...",Positive
41155,44954,89906,NaN,14-04-2020,"[wrong, smell, hand, sanit, start, turn, coron...",Neutral
41156,44955,89907,i love you so much || he/him,14-04-2020,"[tartiicat, rift, amazon, normal, market, pric...",Negative

### 十四

In [4]:
# Given a pandas dataframe df with the original coronavirus_tweets.csv data set,
# build a Multinomial Naive Bayes classifier. 
# Return predicted sentiments (e.g. 'Neutral', 'Positive') for the training set
# as a 1d array (numpy.ndarray). 
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
def mnb_predict(df):
  target_mapping={'Extremely Negative':0, 'Negative':1, 'Neutral':2,
                'Positive':3, 'Extremely Positive':4}
  # preprocessing the data
  df['SentimentMapped']=df['Sentiment'].map(lambda x:target_mapping[x])
  df['OriginalTweet'] = df['OriginalTweet'].str.lower()
  df['OriginalTweet'] = df['OriginalTweet'].apply(lambda x : re.sub('[^a-zA-Z]', ' ', x))
  df['OriginalTweet'] = df['OriginalTweet'].apply(lambda x : ' '.join(x.split()))
  df['OriginalTweet'] = df['OriginalTweet'].apply(lambda x : x.split())

  train_data = stemming(remove_stop_words(df))

  corpus_train = []
  for i in range(len(train_data)):
    corpus_train.append(' '.join(train_data.OriginalTweet[i]))
  #print(len(corpus_train))

  # convert word to vector with  countvectorizer
  cv = CountVectorizer(max_features=10000)
  X_train_cv = cv.fit_transform(corpus_train).toarray()
  y_train_cv = train_data['SentimentMapped']
  # build a Multinomial Naive Bayes classifier
  mnb_cv=MultinomialNB()
  mnb_cv.fit(X_train_cv, y_train_cv)

  # pred label
  pred_cv = mnb_cv.predict(X_train_cv)

  # mapping to text description
  setiment_mapping={0:'Extremely Negative', 1:'Negative', 2:'Neutral', 
                    3:'Positive', 4:'Extremely Positive'}
  pred_label = np.array([setiment_mapping[x] for x in pred_cv])
  return pred_label

In [5]:
pred_label = mnb_predict(data)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:89: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:100: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [6]:
pred_label

array(['Positive', 'Positive', 'Positive', ..., 'Positive', 'Positive',
       'Negative'], dtype='<U18')

### 十五

In [ ]:
# Given a 1d array (numpy.ndarray) y_pred with predicted labels (e.g. 'Neutral', 'Positive') 
# by a classifier and another 1d array y_true with the true labels, 
# return the classification accuracy rounded in the 3rd decimal digit.
def mnb_accuracy(y_pred,y_true):
	num = len(y_pred)
	count = sum([y_pred[i]==y_true[i] for i in range(num)])
	return round(count/num, 3)

In [ ]:
true_label = data.Sentiment
true_label = np.array(true_label[:])

In [ ]:
mnb_accuracy(pred_label,true_label)

0.628

In [15]:
# Part 3: Mining text data.
import pandas as pd
import numpy as np
import re
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
# Return a pandas dataframe containing the data set.
# Specify a 'latin-1' encoding when reading the data.
# data_file will be populated with the string 'wholesale_customers.csv'.
def read_csv_3(data_file):
  data=pd.read_csv(data_file, encoding='latin-1')
  return data

# Return a list with the possible sentiments that a tweet might have.
def get_sentiments(df):
	#convert result to list
	return list(df.loc[:,'Sentiment'].unique())

# Return a string containing the second most popular sentiment among the tweets.
def second_most_popular_sentiment(df):
	return df['Sentiment'].value_counts().index[1]

# Return the date (string as it appears in the data) with the greatest number of extremely positive tweets.
def date_most_popular_tweets(df):
  # first we select Sentiment,then count TweetAt, finally choose the date with the greatest number
	return df[df['Sentiment']=='Extremely Positive']['TweetAt'].value_counts().index[0]

# Modify the dataframe df by converting all tweets to lower case. 
def lower_case(df):
  df['OriginalTweet'] = df['OriginalTweet'].str.lower()
  return df

# Modify the dataframe df by replacing each characters which is not alphabetic or whitespace with a whitespace.
def remove_non_alphabetic_chars(df):
  df['OriginalTweet'] = df['OriginalTweet'].apply(lambda x : re.sub('[^a-zA-Z]', ' ', x))
  return df

# Modify the dataframe df with tweets after removing characters which are not alphabetic or whitespaces.
def remove_multiple_consecutive_whitespaces(df):
  df['OriginalTweet'] = df['OriginalTweet'].apply(lambda x : ' '.join(x.split()))
  return df	

# Given a dataframe where each tweet is one string with words separated by single whitespaces,
# tokenize every tweet by converting it into a list of words (strings).
def tokenize(df):
  df['OriginalTweet'] = df['OriginalTweet'].apply(lambda x : x.split())
  return df	

# Given dataframe tdf with the tweets tokenized, return the number of words in all tweets including repetitions.
def count_words_with_repetitions(tdf):
  count = 0
  for i in range(len(tdf)):
    count += len(tdf['OriginalTweet'][i])
  return count

# Given dataframe tdf with the tweets tokenized, return the number of distinct words in all tweets.
def count_words_without_repetitions(tdf):
  res = []
  for i in range(len(tdf)):
    res.extend(tdf['OriginalTweet'][i])
  return len(set(res)) #use set remove repeted words

# Given dataframe tdf with the tweets tokenized, return a list with the k distinct words that are most frequent in the tweets.
def frequent_words(tdf,k):
  words = []
  for i in range(len(tdf)):
    words.extend(tdf['OriginalTweet'][i])
  words_dic = {}
  for word in words:
    if word not in words_dic:
      words_dic[word] = 1
    else:
      words_dic[word] = words_dic[word] + 1
  res = sorted(words_dic.items(),key=lambda x:x[1],reverse=True)
  return [word[0] for word in res[:k]]

# Given dataframe tdf with the tweets tokenized, remove stop words and words with <=2 characters from each tweet.
# The function should download the list of stop words via:
# https://raw.githubusercontent.com/fozziethebeat/S-Space/master/data/english-stop-words-large.txt
def remove_stop_words(tdf):
  import requests
  r = requests.get('https://raw.githubusercontent.com/fozziethebeat/S-Space/master/data/english-stop-words-large.txt')
  stop_words = r.text.split('\n')
  for i in range(len(tdf)):
    res = []
    for word in tdf['OriginalTweet'][i]:
      if word not in stop_words and len(word)>2:
        res.append(word)
    tdf['OriginalTweet'][i] = res[:]
  return tdf

# Given dataframe tdf with the tweets tokenized, reduce each word in every tweet to its stem.
def stemming(tdf):
  from nltk.stem.porter import PorterStemmer
  ps = PorterStemmer()
  for i in range(len(tdf)):
    res = []
    for word in tdf['OriginalTweet'][i]:
      res.append(ps.stem(word))
    tdf['OriginalTweet'][i] = res[:]
  return tdf

# Given a pandas dataframe df with the original coronavirus_tweets.csv data set,
# build a Multinomial Naive Bayes classifier. 
# Return predicted sentiments (e.g. 'Neutral', 'Positive') for the training set
# as a 1d array (numpy.ndarray). 
def mnb_predict(df):
  target_mapping={'Extremely Negative':0, 'Negative':1, 'Neutral':2,
                'Positive':3, 'Extremely Positive':4}
  # preprocessing the data
  df['SentimentMapped']=df['Sentiment'].map(lambda x:target_mapping[x])
  df['OriginalTweet'] = df['OriginalTweet'].str.lower()
  df['OriginalTweet'] = df['OriginalTweet'].apply(lambda x : re.sub('[^a-zA-Z]', ' ', x))
  df['OriginalTweet'] = df['OriginalTweet'].apply(lambda x : ' '.join(x.split()))
  df['OriginalTweet'] = df['OriginalTweet'].apply(lambda x : x.split())

  train_data = stemming(remove_stop_words(df))

  corpus_train = []
  for i in range(len(train_data)):
    corpus_train.append(' '.join(train_data.OriginalTweet[i]))
  #print(len(corpus_train))

  # convert word to vector with  countvectorizer
  cv = CountVectorizer(max_features=10000)
  X_train_cv = cv.fit_transform(corpus_train).toarray()
  y_train_cv = train_data['SentimentMapped']
  # build a Multinomial Naive Bayes classifier
  mnb_cv=MultinomialNB()
  mnb_cv.fit(X_train_cv, y_train_cv)

  # pred label
  pred_cv = mnb_cv.predict(X_train_cv)

  # mapping to text description
  setiment_mapping={0:'Extremely Negative', 1:'Negative', 2:'Neutral', 
                    3:'Positive', 4:'Extremely Positive'}
  pred_label = np.array([setiment_mapping[x] for x in pred_cv])
  return pred_label

# Given a 1d array (numpy.ndarray) y_pred with predicted labels (e.g. 'Neutral', 'Positive') 
# by a classifier and another 1d array y_true with the true labels, 
# return the classification accuracy rounded in the 3rd decimal digit.
def mnb_accuracy(y_pred,y_true):
	num = len(y_pred)
	count = sum([y_pred[i]==y_true[i] for i in range(num)])
	return round(count/num, 3)


# 1
data_file = '/content/drive/MyDrive/ColabNotebooks/homework/data/coronavirus_tweets.csv'
data = read_csv_3(data_file)
# 2
print(get_sentiments(data))
# 3
print(second_most_popular_sentiment(data))
# 4
print(date_most_popular_tweets(data))
# 5
data1 = lower_case(data)
print(data1)
# 6
data1 = remove_non_alphabetic_chars(data1)
print(data1)
# 7
data1 = remove_multiple_consecutive_whitespaces(data1)
print(data1)
# 8
data1 = tokenize(data1)
print(data1)
# 9
print(count_words_with_repetitions(data1))
# 10
print(count_words_without_repetitions(data1))
# 11
print(frequent_words(data1,10))
# 12
data1 = remove_stop_words(data1)
print(data1)
# 13
data1 = stemming(data1)
print()
# 14
data = read_csv_3(data_file)
pred_label = mnb_predict(data)
print(pred_label)
# 15
true_label = data.Sentiment
true_label = np.array(true_label[:])
print(mnb_accuracy(pred_label,true_label))

['Neutral', 'Positive', 'Extremely Negative', 'Negative', 'Extremely Positive']
Negative
25-03-2020
       UserName  ScreenName                      Location     TweetAt  \
0          3799       48751                        London  16-03-2020
1          3800       48752                            UK  16-03-2020
2          3801       48753                     Vagabonds  16-03-2020
3          3802       48754                           NaN  16-03-2020
4          3803       48755                           NaN  16-03-2020
...         ...         ...                           ...         ...
41152     44951       89903  Wellington City, New Zealand  14-04-2020
41153     44952       89904                           NaN  14-04-2020
41154     44953       89905                           NaN  14-04-2020
41155     44954       89906                           NaN  14-04-2020
41156     44955       89907  i love you so much || he/him  14-04-2020

                                           OriginalTweet           Sentiment
0      @menyrbie @phil_gahan @chrisitv https://t.co/i...             Neutral
1      advice talk to your neighbours family to excha...            Positive
2      coronavirus australia: woolworths to give elde...            Positive
3      my food stock is not the only one which is emp...            Positive
4      me, ready to go at supermarket during the #cov...  Extremely Negative
...                                                  ...                 ...
41152  airline pilots offering to stock supermarket s...             Neutral
41153  response to complaint not provided citing covi...  Extremely Negative
41154  you know itâs getting tough when @kameronwild...            Positive
41155  is it wrong that the smell of hand sanitizer i...             Neutral
41156  @tartiicat well new/used rift s are going for ...            Negative

[41157 rows x 6 columns]
       UserName  ScreenName                      Location     TweetAt  \
0          3799       48751                        London  16-03-2020
1          3800       48752                            UK  16-03-2020
2          3801       48753                     Vagabonds  16-03-2020
3          3802       48754                           NaN  16-03-2020
4          3803       48755                           NaN  16-03-2020
...         ...         ...                           ...         ...
41152     44951       89903  Wellington City, New Zealand  14-04-2020
41153     44952       89904                           NaN  14-04-2020
41154     44953       89905                           NaN  14-04-2020
41155     44954       89906                           NaN  14-04-2020
41156     44955       89907  i love you so much || he/him  14-04-2020

                                           OriginalTweet           Sentiment
0       menyrbie  phil gahan  chrisitv https   t co i...             Neutral
1      advice talk to your neighbours family to excha...            Positive
2      coronavirus australia  woolworths to give elde...            Positive
3      my food stock is not the only one which is emp...            Positive
4      me  ready to go at supermarket during the  cov...  Extremely Negative
...                                                  ...                 ...
41152  airline pilots offering to stock supermarket s...             Neutral
41153  response to complaint not provided citing covi...  Extremely Negative
41154  you know it  s getting tough when  kameronwild...            Positive
41155  is it wrong that the smell of hand sanitizer i...             Neutral
41156   tartiicat well new used rift s are going for ...            Negative

[41157 rows x 6 columns]
       UserName  ScreenName                      Location     TweetAt  \
0          3799       48751                        London  16-03-2020
1          3800       48752                            UK  16-03-2020
2          3801       48753                     Vagabonds  16-03-2020
3          3802       48754                           NaN  16-03-2020
4          3803       48755                           NaN  16-03-2020
...         ...         ...                           ...         ...
41152     44951       89903  Wellington City, New Zealand  14-04-2020
41153     44952       89904                           NaN  14-04-2020
41154     44953       89905                           NaN  14-04-2020
41155     44954       89906                           NaN  14-04-2020
41156     44955       89907  i love you so much || he/him  14-04-2020

                                           OriginalTweet           Sentiment
0      menyrbie phil gahan chrisitv https t co ifz fa...             Neutral
1      advice talk to your neighbours family to excha...            Positive
2      coronavirus australia woolworths to give elder...            Positive
3      my food stock is not the only one which is emp...            Positive
4      me ready to go at supermarket during the covid...  Extremely Negative
...                                                  ...                 ...
41152  airline pilots offering to stock supermarket s...             Neutral
41153  response to complaint not provided citing covi...  Extremely Negative
41154  you know it s getting tough when kameronwilds ...            Positive
41155  is it wrong that the smell of hand sanitizer i...             Neutral
41156  tartiicat well new used rift s are going for o...            Negative

[41157 rows x 6 columns]
       UserName  ScreenName                      Location     TweetAt  \
0          3799       48751                        London  16-03-2020
1          3800       48752                            UK  16-03-2020
2          3801       48753                     Vagabonds  16-03-2020
3          3802       48754                           NaN  16-03-2020
4          3803       48755                           NaN  16-03-2020
...         ...         ...                           ...         ...
41152     44951       89903  Wellington City, New Zealand  14-04-2020
41153     44952       89904                           NaN  14-04-2020
41154     44953       89905                           NaN  14-04-2020
41155     44954       89906                           NaN  14-04-2020
41156     44955       89907  i love you so much || he/him  14-04-2020

                                           OriginalTweet           Sentiment
0      [menyrbie, phil, gahan, chrisitv, https, t, co...             Neutral
1      [advice, talk, to, your, neighbours, family, t...            Positive
2      [coronavirus, australia, woolworths, to, give,...            Positive
3      [my, food, stock, is, not, the, only, one, whi...            Positive
4      [me, ready, to, go, at, supermarket, during, t...  Extremely Negative
...                                                  ...                 ...
41152  [airline, pilots, offering, to, stock, superma...             Neutral
41153  [response, to, complaint, not, provided, citin...  Extremely Negative
41154  [you, know, it, s, getting, tough, when, kamer...            Positive
41155  [is, it, wrong, that, the, smell, of, hand, sa...             Neutral
41156  [tartiicat, well, new, used, rift, s, are, goi...            Negative

[41157 rows x 6 columns]
1350959
80071
['the', 'to', 't', 'co', 'and', 'https', 'covid', 'of', 'a', 'in']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:89: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       UserName  ScreenName                      Location     TweetAt  \
0          3799       48751                        London  16-03-2020
1          3800       48752                            UK  16-03-2020
2          3801       48753                     Vagabonds  16-03-2020
3          3802       48754                           NaN  16-03-2020
4          3803       48755                           NaN  16-03-2020
...         ...         ...                           ...         ...
41152     44951       89903  Wellington City, New Zealand  14-04-2020
41153     44952       89904                           NaN  14-04-2020
41154     44953       89905                           NaN  14-04-2020
41155     44954       89906                           NaN  14-04-2020
41156     44955       89907  i love you so much || he/him  14-04-2020

                                           OriginalTweet           Sentiment
0      [menyrbie, phil, gahan, chrisitv, https, ifz, ...             Neutral
1      [advice, talk, neighbours, family, exchange, p...            Positive
2      [coronavirus, australia, woolworths, give, eld...            Positive
3      [food, stock, empty, don, panic, food, stay, c...            Positive
4      [ready, supermarket, covid, outbreak, paranoid...  Extremely Negative
...                                                  ...                 ...
41152  [airline, pilots, offering, stock, supermarket...             Neutral
41153  [response, complaint, provided, citing, covid,...  Extremely Negative
41154  [tough, kameronwilds, rationing, toilet, paper...            Positive
41155  [wrong, smell, hand, sanitizer, starting, turn...             Neutral
41156  [tartiicat, rift, amazon, normal, market, pric...            Negative

[41157 rows x 6 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:100: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:89: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

['Positive' 'Positive' 'Positive' ... 'Positive' 'Positive' 'Negative']
0.628